.projects-card {
  position: relative;
}

.projects-card:hover img {
  transform: scale(1.1); 
  box-shadow: 0 0 10px  rgba(234, 194, 201, 0.477); 
}

.projects-card img {
  width: 130px;
  height: 130px;
  transition: transform 1s ease, box-shadow 1s ease;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 1rem;
  
}

.title-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh;
    font-size:xx-large;
    font-weight: light;
   
}

.projects-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(50, 50, 50);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
   align-items: center;
  }
  
.projects-description {
    font-size: 1rem;
    color: rgb(50, 50, 50);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
   align-items: center;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }


  .projects-card p {
    text-align: center;
    font-style: italic;
  }
  
  .projects-card a {
    color: rgb(50, 50, 50);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    display:flex;
    justify-content: center;
  }