.div-desc{
  padding: 5rem 0 2rem 0;
}

.mypic {
  width: 9rem;
  border-radius: 25%;
  margin: auto;
  display: flex;
  padding-bottom: 1.5                     rem;
  justify-content: center;
  box-shadow: 5px rgba(234, 194, 201, 0.477); 
}

.description-top {
  font-size: 2rem;
  margin: 0 25vh 0 25vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
}

.description-top::after {
  content: "";
  display: table;
  clear: both;
}

.description-logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.description-text {
  font-size: 1.7rem;
  margin: 0 35vh 0 25vh;
  align-items: center;
  display: block;
  justify-content: center;
  text-align: center;
}
