.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-size: 1rem;
  padding-top: 2em;
  padding-right: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 250px;
  background-color: transparent;
  border-radius: 50%;
}

.Links {
  display: flex;
  position: fixed;
  color: rgb(50, 50, 50);
  background-color: transparent;
  justify-content: flex-end;
  align-items: center; 
  padding-right: 40px;
}

.Links a {
  margin-left: 40px;
  text-decoration: none; 
  color: rgb(246, 240, 240);
  font-size: 2rem;
  font-weight: bolder;
}
