    .footer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        font-family: sans-serif;
        position: fixed;
        bottom: 0;
        font-family: "EagleLake-Regular";
        font-size: 1.31rem;
        text-decoration: none;
        background-color: none;
        box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.1); /* Ajoute une ombre pour la séparation */
      }