*{
  text-decoration: none;
}

body {
  background-image: url(./assets/7.png);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(238, 233, 233);
  font-family: Cormorant Garamond;
  padding-bottom: 5rem;
}

