*{
  text-decoration: none;
}

body {
  background-image: url(/src/assets/w5.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(50, 50, 50);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 5rem;
}

